.env*

# OSによる一時ファイル
.DS_Store
Thumbs.db

# IDEの設定や一時ファイル
.vscode/
.idea/
.pytest_cache/
*.swp
*.swo
*.log
*.tmp
*.coverage

# Alembicのマイグレーションキャッシュ
src/backend/migrations/__pycache__

# Node.js関連の一時ファイル・フォルダ
src/frontend/node_modules/
src/frontend/.next/
src/frontend/public/static/*
!src/frontend/public/static/.keep

# Pythonのバイトコード
src/backend/__pycache__/
src/backend/*.pyc
src/backend/*.pyo

# 仮想環境
src/backend/.venv/
src/backend/venv/

# 環境変数ファイル
src/backend/.env
src/backend/alembic.ini

# マスキングモデル
src/backend/model/

# データファイル (必要に応じて)
data/

# その他
*.sqlite
*.db

# テストファイル
src/backend/test2.py